.logo-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--dark-charcoal);
}

.producto img {
    width: 50px;
    height: 50px;
    border-radius: 50rem;
}

.descripcion {
    flex-grow: 1;
}

.controles button {
    margin-left: 5px;
}

figure {
    margin: 0;
}

#lista-productos li > *{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0.5rem;
}

.controles > *{
    margin: 0.2rem;
}

.m-0 {
    min-width: 50px;
}