.user-registration,
.user-login,
.come-back {
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 20px;
}

.user-registration,
.user-login {
    border: 1px solid #ccc;
}

.user-registration h2,
.user-login h2 {
    text-align: center;
    margin-bottom: 20px;
}

.user-registration form,
.user-login form {
    margin-bottom: 20px;
}

.user-registration label,
.user-login label {
    display: block;
    margin-bottom: 5px;
}

.user-registration input,
.user-login input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-registration button,
.user-login button,
.back-button {
    width: 100%;
    padding: 10px;
    margin-top: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.back-button {
    text-decoration: none;
}