/* FONT */

@import url(https://fonts.googleapis.com/css2?family=Roboto);

/* END FONT */

:root {
    --dark-charcoal: #333;
    --gray80: #ccc;
    --raisin-black: #231f20;
    --isabelline: #F5EFED;
    --united-nations-blue:#3993DD;
}

/* GENERAL CSS */

* {
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: var(--dark-charcoal);
}

header {
    background-color: #fff;
    text-align: center;
}

header h1 {
    padding-top: 5em;
    font-size: 2em;
    font-weight: bold;
}

header p {
    font-size: 1.2em;
}

main {
    padding: 2em;
}

/* END GENERAL CSS */


/* BANNER */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    width: 100%;
    height: 6em;
    background: #454545;
}

/* END BANNER */


/* BANNER SEARCHBAR */
.search-bar {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: 1px solid var(--gray80);
    border-radius: 5px;
}

.search-bar button {
    width: 20%;
    padding: 10px;
    background-color: var(--dark-charcoal);
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* END BANNER SEARCHBAR */

/* CATEGORIES */
.categories-filter {
    margin-bottom: 20px;
}

.categories-filter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categories-filter li {
    margin-bottom: 5px;
}

.categories-filter li a {
    display: block;
    padding: 10px;
    border: 1px solid var(--gray80);
    border-radius: 5px;
    text-decoration: none;
    color: var(--dark-charcoal);
}

.categories-filter li a:hover {
    background-color: var(--gray80);
}

/* END CATEGORIES */

/* ELEMENTOS */
section {
    margin-bottom: 20px;
}

section h3 {
    font-size: 1.5em;
    font-weight: bold;
}

section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section li {
    margin-bottom: 10px;
}

section li figure {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
}

section li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section li h4 {
    font-size: 1.2em;
    font-weight: bold;
}

section li span {
    float: right;
}

.gigs {
    margin-bottom: 20px;
}

.gigs h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.gigs ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.gigs li {
    margin-bottom: 10px;
    padding: 0.5em;
    display: flex;
    align-items: center;
    border: #454545 solid 1px;
    border-radius: 0.3em;
}

.gigs li figure {
    margin: 0;
}

.gigs li img {
    object-fit: cover;
}

.gig-info {
    display: flex;
    padding: 0.5em;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.gigs li .gig-info {
    flex-grow: 1;
}

.gigs li .gig-info h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.gigs li .gig-info p {
    margin-bottom: 5px;
}

.gigs li .gig-info span {
    float: right;
}

.gigs li .gig-info a {
    display: block;
    padding: 10px;
    background-color: var(--dark-charcoal);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
}

/* END ELEMENTOS */


/* CAROUSEL */


.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel div {
    background: var(--dark-charcoal);
    margin: 0.5em;
    height: 8em;
    width: 20%;
}

.carousel button {
    height: 2em;
    width: 2em;
    color: var(--dark-charcoal);
    font-size: large;
    border-radius: 50%;
}

/* END CAROUSEL */

/* PROMOCIONES */

.highlight {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background: red;
    color: #fff;
}

/* END PROMOCIONES */

/* TESTIMONIALS */

.testimonials {
    margin-bottom: 20px;
}

.testimonials h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.testimonials ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.testimonials li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.testimonials li figure {
    margin: 0;
}

.testimonials li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonials li p {
    padding: 0.5em;
    margin: 0;
}

.testimonials li span {
    float: right;
}

.testimonials li figure {
    overflow: visible;
}

/* END TESTIMONIALS */

/* MESSAGES */

.messaging-system {
    width: 300px;
    margin: 0 auto;
    border: 1px solid var(--gray80);
    padding: 20px;
}

.messaging-system .messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messaging-system .messages li {
    margin-bottom: 5px;
}

.messaging-system .messages li .sender {
    font-weight: bold;
}

.messaging-system .messages li .message {
    display: block;
}

.messaging-system form {
    margin-top: 20px;
}

.messaging-system form input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray80);
    border-radius: 5px;
}

.messaging-system form button {
    width: 100%;
    padding: 10px;
    background-color: var(--dark-charcoal);
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* END MESSAGES*/

/* RATINGS */

.rating {
    margin-bottom: 20px;
}

.rating .stars {
    display: inline-block;
}

.rating .stars img {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.rating .review {
    display: block;
    margin-top: 5px;
}

/* END RATINGS */

/* PAYMENT */

.payment-form {
    margin-top: 6rem;
    margin-bottom: 20px;
}

.payment-form form {
    width: 300px;
    margin: 0 auto;
}

.payment-form label {
    display: block;
    margin-bottom: 5px;
}

.payment-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray80);
    border-radius: 5px;
}

.payment-form button {
    width: 100%;
    padding: 10px;
    background-color: var(--dark-charcoal);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.payment-methods {
    display: flex;
    justify-content: center;
}

.payment-methods img {
    width: 50px;
    height: 30px;
    margin-right: 10px;
}

/* END PAYMENT */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4em;
    width: 100%;
    background: var(--dark-charcoal);
    color: #fff;
    text-align: center;
}

footer p {
    font-size: 0.8em;
}


/* NAVBAR */

nav {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav > a {
    text-decoration: none;
    color: #333;
    size: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >li {
        margin: 0.5em;
    }
}

/* END NAVBAR */

@media (min-width: 768px) {

    .categories-filter ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section li {
        display: flex;
        align-items: center;
    }

    section li figure {
        margin-right: 10px;
    }

    li {
        display: flex;
        align-items: center;
        max-width: 20em;
        margin: 0 1em 0 0;
    }

    .gigs li figure {
        margin-right: 10px;
    }

    .gigs ul {
        display: flex;
        flex-wrap: wrap;
    }

    .testimonials ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .testimonials li {
        display: flex;
        align-items: center;
    }

    .testimonials li figure {
        margin-right: 10px;
    }

    /* PROMOCIONES */

    .highlight {}

    /* END PROMOCIONES */

}

@media (min-width: 1024px) {


    .categories-filter ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section li {
        display: flex;
        align-items: center;
    }

    section li figure {
        margin-right: 10px;
    }

    li {
        display: flex;
        align-items: center;
        max-width: 20em;
        margin: 0 1em 0 0;
    }

    .gigs li figure {
        margin-right: 10px;
    }

    .gigs ul {
        display: flex;
        flex-wrap: wrap;
    }

    .testimonials ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .testimonials li {
        display: flex;
        align-items: center;
    }

    .testimonials li figure {
        margin-right: 10px;
    }

    /* PROMOCIONES */

    .highlight {}

    /* END PROMOCIONES */
}