/* Estilos personalizados */



body {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

/* NAVBAR */

nav {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    background: #fff;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav > a {
    text-decoration: none;
    color: #333;
    size: 2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    >li {
        margin: 0.5em;
    }
}

/* END NAVBAR */

/* CATEGORIES */
.categories-filter {
    margin-bottom: 20px;
}

.categories-filter ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categories-filter li {
    margin-bottom: 5px;
}

.categories-filter li a {
    display: block;
    padding: 10px;
    border: 1px solid var(--gray80);
    border-radius: 5px;
    text-decoration: none;
    color: var(--dark-charcoal);
}

.categories-filter li a:hover {
    background-color: var(--gray80);
}

/* END CATEGORIES */

.jumbotron {
    background-color: #f8f9fa;
    padding: 3rem 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Fin de los estilos personalizados */
